/*============================
// Jewish Play Project
// browse.html Style Sheet
============================*/

body{
	background-color: #e7f6ff;
	color: #72115d;
	font-family: 'Istok Web', sans-serif;
}

body img {
	zoom: 70%;
	padding-left: 10px;
}

#mainContainer {
	display: inline;
	margin-top: 10px;
	background-color: #97cbdc;
	width: 70%;
	margin-left: 15%;
	float: left;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 5px 5px -5px #ffffff inset;
}

h1 {
	padding: 0px;
	margin: 20px;
	font-size: 30px;
}

h2 { 
	padding: 0px 20px 0px 30px;
	font-size: 20px;
}

#mainContainer img {
	max-width: 150px;
    height: auto;
    display: block;
}

p {
	margin: 20px 30px;
	font-size: 15px;
}

table {
    margin-left: 5%;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}

td {
    height: 150px;  
}

tr:nth-child(even){background-color: #e7f6ff}
td:nth-child(1) { width: 150px;}
td:nth-child(2) { width: 150px;}
td:nth-child(3) { width: 150px;}

table tbody td:hover{ background: #F8E845; }
table tbody tr:hover{ background: #F8E845; }

.table-headers {
    background-color: #228dff;
    color: #e7f6ff;
    height: 10px;
}
  
