/*============================
// Jewish Play Project
// news.html Style Sheet
============================*/

body{
	background-color: #e7f6ff;
	color: #72115d;
	font-family: 'Istok Web', sans-serif;
}

body img {
	zoom: 70%;
	padding-left: 10px;
}

#mainContainer {
	display: inline;
	margin-top: 10px;
	background-color: #97cbdc;
	width: 70%;
	margin-left: 15%;
	float: left;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 5px 5px -5px #ffffff inset;
}

h1 {
	padding: 0px;
	margin: 20px;
	font-size: 30px;
}

h2 { 
	padding: 0px 20px 0px 30px;
	font-size: 20px;
}

h3 {
	margin: 20px;
	font-size: 18px;
}

h4 {
	margin: 15px;
	font-size: 15px;
}

p {
	margin: 10px 30px;
	font-size: 15px;
}
