/*============================
// Jewish Play Project
// submitEntry.html Style Sheet
============================*/

body{
	background-color: #e7f6ff;
	color: #72115d;
	font-family: 'Istok Web', sans-serif;
}

body img {
	zoom: 70%;
	padding-left: 10px;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #228dff;
	margin-left: 15%;
	width: 70%;
}

ul.topnav li {float: left;}

ul.topnav li a {
	margin: 0;
	display: block;
	color: #e7f6ff;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
	background-color: #97cbdc;
	background-color: clear;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right,
	ul.topnav li {float: none;}
}

#mainContainer {
	display: inline;
	margin-top: 10px;
	background-color: #97cbdc;
	width: 70%;
	margin-left: 15%;
	float: left;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 5px 5px -5px #ffffff inset;
}

h1 {
	padding: 0px;
	margin: 15px;
	font-size: 30px;
}

h2 { 
	padding: 0px 40px 0px 60px;
	font-size: 20px;
}

#required {
	padding: 0px 40px 0px 60px;
	font-size: 12px;
}

p {
	font-size: 18px;
}

label {
	padding-left: 30px;
}

select, input { 
	margin-left: 20px;
	width: 25%;
	padding: 7px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.25);
	border-radius: 5px;
	border: 2px solid #dde8f0;
}

input[type="checkbox"] {
	box-shadow: none;
	margin-left: 0px;
	padding: 0px;
	width: 10%;
}

input#pBio, input#cDescription, input#tDescription {
	padding: 50px;
}

.required, #required  {
	color: red;
}

#submitButton {
	margin: 25px 75px;
	float: right;
	background-color: #228dff;
	border-radius: 5px;
	border: none;
	padding: 10px 60px;
	color: #e7f6ff;
	text-align: center;
	font-size: 16px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.25);
}

#toysD, #companiesD
{
	display: none;
}

.addRowButton{
    float: left;
    margin-top: -35px;
    margin-left: 35%;
    background-color: #228dff;
	border-radius: 5px;
	border: none;
	padding: 7px 10px;
	color: #e7f6ff;
	text-align: center;
	font-size: 16px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.25);
}