/*============================
// Jewish Play Project
// Display Pages Style Sheet
============================*/

body{
	background-color: #e7f6ff;
	color: #72115d;
	font-family: 'Istok Web', sans-serif;
}

body img {
	zoom: 70%;
	padding-left: 10px;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #228dff;
	margin-left: 15%;
	width: 70%;
}

ul.topnav li {float: left;}

ul.topnav li a {
	margin: 0;
	display: block;
	color: #e7f6ff;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
	background-color: #97cbdc;
	background-color: clear;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right,
	ul.topnav li {float: none;}
}

#mainContainer {
	display: inline;
	margin-top: 10px;
	background-color: #97cbdc;
	width: 70%;
	margin-left: 15%;
	float: left;
}

#displayImage img{
    float: left;
    width: 15%;
    margin: 50px;
}

#info {
    margin-left: 21%;
    width: 70%;
}

#submitEdit, #cancelEdit, #editPage {
	border: none;
    background-color: #228dff;
    color: #e7f6ff;
    padding: 7px;
    font-size: 13px;
    text-align: center;
    width: 75px;
    border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.25);
	margin: 15px;
}

label {
	padding-left: 30px;
}

select, input { 
	margin-left: 20px;
	width: 25%;
	padding: 7px;
	box-shadow: 1px 1px 10px rgba(0,0,0,.25);
	border-radius: 5px;
	border: 2px solid #dde8f0;
}

input[type="checkbox"] {
	box-shadow: none;
	margin-left: 0px;
	padding: 0px;
	width: 10%;
}

input#pBio, input#cDescription, input#tDescription {
	padding: 50px;
}

.required, #required  {
	color: red;
}

.addRowButton {
	color: #e7f6ff; 
	background-color: #228dff; 
	text-align: center; 
	font-size: 16px; 
	box-shadow: 1px 1px 10px rgba(0,0,0,.25); 
	border: none; 
	padding: 7px 12px; 
	border-radius: 5px;
	margin: 5px;
}

#editContainer {
	margin: 30px;
}

h1 {
	padding: 0px;
	margin: 20px 5px;
	font-size: 30px;
}

h2 { 
	padding: 0px 10px 0px 10px;
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	margin: 15px;
	font-size: 15px;
}

p {
	margin: 10px 30px;
	font-size: 15px;
}
